/* margin/padding reset */
* { margin:0; padding:0}

.img-responsive { max-width:100%;}

/* header */
header { background-color:dodgerblue; padding:10px; box-shadow:0 5px 5px #ccc; position:sticky; top:0; display:flex; align-items:center;}
header .left { text-align:left; display:inline-block;}
header .left img { max-height:50px;}
header .right { text-align:right; display:inline-block; flex:1;}

/* nav */
.navbar ul { list-style: none; margin: 0; padding: 0; display: flex; justify-content:flex-end;}
.navbar li { position: relative;}
.navbar a { display: block; padding: 10px 15px; text-decoration: none; color:#fff; font-weight:bold; font-size:20px;}
.navbar ul > li > ul.dropdown-menu { display: none; position: absolute; top: 100%; left: 0; background: white; box-shadow: 0 2px 5px rgba(0,0,0,0.3); min-width: 150px; text-align:left;}
.navbar ul > li > ul > li > a { color:#000; font-weight:normal; font-size:16px;}
.dropdown:hover .dropdown-menu { display: block;}
.dropdown-menu li a { padding: 8px 12px;}

/* content */
#content { width:1560px; margin:0 auto; padding:30px 0;}
#content p { font-size:18px; margin-bottom:30px;}
#content hr { margin-bottom:15px;}

/* footer */
footer { background-color:#000; padding:30px 10px 0; color:#fff;}
footer .title { font-size:22px; font-weight:bold; display:block; margin-bottom:30px;}
footer .fullmap { width:100%;}
footer #disclaimer { margin-top:30px; padding:8px; background-color:beige; color:#000; text-align:center; font-weight:bold; font-size:12px;}